<div class="wrapper">
    <div class="registration-container">
        <h1 class="registration-title">🎮 Давай знайомитись!</h1>

        <form [formGroup]="fg" (ngSubmit)="StartGame()" class="main-form">
            <label class="form-label">
                Ім'я та Прізвище:
                <app-name-fields [minLen]="2" [maxLen]="50" formControlName="nameFields"></app-name-fields>
            </label>
            <br />
            
            <label class="form-label">
                Нікнейм:
                <input formControlName="nickName" class="form-input" placeholder="Твій крутий нікнейм" />
            </label>
            <br />

            <app-message [error]="successMessage()" severity="success"></app-message>
            <app-message [error]="errorMessage()" severity="error"></app-message>

            <button type="button" (click)="clear()" class="btn btn-clear">Очистити</button>
            <button type="submit" class="btn btn-save" [disabled]="fg.invalid">Почати гру</button>
        </form>
    </div>

    <app-scores-table></app-scores-table>
</div>